# Dependencies
node_modules/

# Build output
dist/
build/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Git
.git/
.gitignore

# Ambiente
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testes
coverage/
.nyc_output/

# Documentacao
*.md

# Misc
.DS_Store
Thumbs.db
.eslintcache
